---
import Layout from "../../layouts/Layout.astro";
const album2response = await fetch("http://192.168.0.26:9090/album2");
const album2data = await album2response.json();
import AlbumMap from "../../components/AlbumMap.svelte";
---

<Layout title="2">
	<main class="m-auto p-6 max-w-3xl">
		<h1 class="text-3xl text-blue-500">Album 3</h1>
		<AlbumMap AlbID={album2data} />
	</main>
</Layout>