---
import Layout from "../../layouts/Layout.astro";
const albumFresponse = await fetch("http://192.168.0.26:9090/albumF");
const albumFdata = await albumFresponse.json();
import AlbumMap from "../../components/AlbumMap.svelte";
---

<Layout title="C">
	<main class="m-auto p-6 max-w-3xl">
		<h1 class="text-3xl text-blue-500">Album C</h1>
		<AlbumMap AlbID={albumFdata} />
	</main>
</Layout>
