---
import Layout from "../../layouts/Layout.astro";
const artist3response = await fetch("http://192.168.0.26:9090/artist3");
const artist3data = await artist3response.json();
// import ArtistMap from "../../components/ArtistMap.svelte";
---

<Layout title="3">
	<main class="m-auto p-6 max-w-3xl">
		<h1 class="text-3xl text-blue-500">Artists 3</h1>
		<!-- <ArtistMap ArtID={artist3data}/> -->
		<ul
			class="grid xxsm:grid-cols-2 xsm:grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-2 flex items-center"
		>
			{
				artist3data.map((d) => (
					<button id={d.artistid} class="min-w-fit text-white">
						<a href="/artist/artistDisplay">{d.artist}</a>
					</button>
				))
			}
		</ul>
	</main>
</Layout>

<script>
	function artist3function(item) {
		let aid = document.getElementById(item["artistid"]);
		aid.addEventListener("click", () => {
			localStorage.setItem("artistid", item["artistid"]);
			console.log("artistid set");
		});
	}

	const artist3response = await fetch("http://192.168.0.26:9090/artist3");
	const artist3data = await artist3response.json();
	artist3data.forEach(artist3function);
</script>
