---
import Layout from "../../layouts/Layout.astro";
const artistAresponse = await fetch("http://192.168.0.26:9090/artistA");
const artistAdata = await artistAresponse.json();
// import ArtistMap from "../../components/ArtistMap.svelte";
---

<Layout title="A">
	<main class="m-auto p-6 max-w-3xl">
		<h1 class="text-3xl text-blue-500">Artist A</h1>
		<!-- <ArtistMap ArtID={artistAdata}/> -->
		<ul
			class="grid xxsm:grid-cols-2 xsm:grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-2 flex items-center"
		>
			{
				artistAdata.map((d) => (
					<button id={d.artistid} class="min-w-fit text-white">
						<a href="/artist/artistDisplay">{d.artist}</a>
					</button>
				))
			}
		</ul>
	</main>
</Layout>
