---
import Layout from "../../layouts/Layout.astro";
const song7response = await fetch("http://192.168.0.26:9090/song7");
const song7data = await song7response.json();
import SongMap from "../../components/SongMap.svelte";

---

<Layout title="7">
	<main class="m-auto p-6 max-w-3xl">
		<h1 class="text-3xl text-blue-500">Artists 3</h1>
		<SongMap SonID={song7data}/>
	</main>
</Layout>